*, ::after, ::before {
box-sizing: border-box;
}

#carousel1 {
    height: 40rem;
    width: auto;
    margin-bottom: 50px;
    display: flexbox;
    
}

#card-section{
    position: relative;
    right: -2%;
    margin-bottom: 50px;
    
}

@media screen and (max-width: 750px) {
    #card-section{
        position: relative;
        left: 100px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5rem;
    padding: 2.5rem;
}

.col-md-7.align-items-center {
    padding-left: 27rem;
}

div.col-md-5 {
    padding-left: 8rem;
}

div.col-lg-5 {
    display: flex;
    padding-left: 20rem;
}

div.col-lg-7 {
    padding-left: 10rem;
}


@media screen and (max-width: 2000px) {
    .col-md-7.align-items-center {
        position: relative;
        padding: 0%;
        display: flex;
        flex-wrap: wrap;
    }
}



