#carousel1 {
    height: 400px;
    width: 30px;
    margin-bottom: 30px;
    
}

.card {
    /* margin-left: 50px; */
}

#card-section{
    position: relative;
    right: -2%
    
}

@media screen and (max-width: 750px) {
    #card-section{
        position: relative;
        left: 100px
    }
}